In [1]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver as driver

In [279]:
### NASA Mars News
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [283]:
title = soup.find('div', class_='content_title').find('a').text.strip()
#news_title = title.find('a').text.strip()
title

'After a Reset, Curiosity Is Operating Normally'

In [284]:
news_p = soup.find('div', class_='article_teaser_body').text
news_p

'Curiosity has returned to science operations and is once again exploring the clay unit. '

In [2]:
#scraping for mars facts
factUrl = "http://space-facts.com/mars/"

facts = pd.read_html(factUrl)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
facts_df.set_index("Element", inplace=True)
facts_df

                                              Value
Element
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [4]:
facts_df = facts[0]
facts_df.rename(columns={0:"Element", 1:"Value"}, inplace=True)
facts_df

                Element                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [287]:
facts_html = facts_df.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [288]:
### Mars Weather
twtUrl = "https://twitter.com/marswxreport?lang=en"
twtResp = requests.get(twtUrl)
soup = BeautifulSoup(twtResp.text, 'lxml')

In [289]:
twtdata = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
twtdata

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 92 (2019-03-01) low -94.4ºC (-137.9ºF) high -12.9ºC (8.8ºF)
winds from the SW at 4.6 m/s (10.2 mph) gusting to 10.4 m/s (23.2 mph)
pressure at 7.20 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/zxXhRFOwTo">pic.twitter.com/zxXhRFOwTo</a></p>

In [293]:
mars_weather = (twtdata.text.strip()).replace('\n', ' ')
mars_weather

'InSight sol 92 (2019-03-01) low -94.4ºC (-137.9ºF) high -12.9ºC (8.8ºF) winds from the SW at 4.6 m/s (10.2 mph) gusting to 10.4 m/s (23.2 mph) pressure at 7.20 hPapic.twitter.com/zxXhRFOwTo'

In [292]:
mars_weather2 = (twtdata.text.strip()).replace('\n', ' ')
mars_weather2
#mystring = mystring.replace('\n', ' ').replace('\r', '')

'InSight sol 92 (2019-03-01) low -94.4ºC (-137.9ºF) high -12.9ºC (8.8ºF) winds from the SW at 4.6 m/s (10.2 mph) gusting to 10.4 m/s (23.2 mph) pressure at 7.20 hPapic.twitter.com/zxXhRFOwTo'

In [ ]:
### JPL Mars Space Images - Featured Image

In [294]:
featUrl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featUrl)

In [295]:
browser.click_link_by_id('full_image')

In [180]:
baseUrl = "https://www.jpl.nasa.gov"

In [296]:
find_h=browser.find_by_css('img[class="fancybox-image"]')
featured_image_url = find_h["src"]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18884_ip.jpg'

In [123]:
### Mars Hemispheres
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [297]:
hemiUrl = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemiUrl)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
divs = soup.find_all('div', class_="description")[0:4]
hemisphere_image_urls = []
for div in divs:
    href = div.h3.text
    browser.click_link_by_partial_text(href)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    dd = soup.find('a', target="_blank")['href']
    ah = soup.find('h2', class_="title").text
    hemisphere_image_urls.append({"title":ah, "img_url":dd})

    browser.visit(hemiUrl)
       
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

None
None
None
None

In [152]:
## Step 2 - MongoDB and Flask Application

In [257]:
!ipython nbconvert --to=python mission_to_mars.ipynb

[TerminalIPythonApp] WARNING | Subcommand `ipython nbconvert` is deprecated and will be removed in future versions.
[TerminalIPythonApp] WARNING | You likely want to use `jupyter nbconvert` in the future
[NbConvertApp] Converting notebook mission_to_mars.ipynb to python
[NbConvertApp] Writing 5640 bytes to mission_to_mars.py

In [ ]:
#junk catcher cell

#results = soup.find_all('li', class_='mixed-feed__item--article')
results2 = soup.find('div', class_='article_teaser_body')
results2
news_title = results.find('a').text.strip()
news_title
news_p = results2.text.strip()
news_p

results = soup.find('div', class_='list_text')
#news_title = results.find_all('a').text.strip()
results


col1tds = soup.find_all('td', class_='column-1')
col1tds
col1 = []
col2 = []
for td in col1tds:
    data = td.find('strong').text
    col1.append(data)

col2tds = soup.find_all('td', class_='column-2')
col2tds
    
for td in col2tds:
    data = td.text
    col2.append(data)
    
factResponse = requests.get(factUrl)
#soup = BeautifulSoup(factResponse.text, 'lxml')

hemis = soup.find_all('div', class_='item')
hemis

hemis = soup.find_all('div', class_='collapsible results')
hemis

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
rows = soup.find_all('div', class_='item')
rows
for row in rows:
    browser.click_link_by_partial_text('Hemisphere')
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    print(soup.span.text)
    browser.click_link_by_href('/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
    
browser.click_link_by_partial_text('Hemisphere')

for hemi in hemis:
    desc = hemi["alt"].split(' ')
#    desc1 = f'{desc[0]} {desc[1]} {desc[2]}'
    desc2 = ' '.join(desc[:-1])
    print(desc2)

hemiUrl = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemiUrl)
hemis = browser.find_by_css('img[class="thumb"]')
hemis
hemisphere_image_urls = []
for hemi in hemis:
    link = hemi["src"]
    desc = hemi["alt"].split(' ')
    desc2 = ' '.join(desc[:-1])
    #hemisphere_image_urls.update({"title":link})
    hemisphere_image_urls.append({"title":desc2, "img_url":link})
hemisphere_image_urls
# divs = browser.('div[class="description"]')
# divs.text
#divs = browser.find_by_css('a[itemLink product-item]')
#divs

hemiUrl = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemiUrl)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
divs = soup.find_all('div', class_="description")
#divs = browser.find_by_css('div[class="description"]')

for div in divs:
#    browser.click_link_by_partial_href("/search/map/Mars/Viking")
    browser.click_link_by_partial_text('Hemisphere')
#    html = browser.html
#    soup = BeautifulSoup(html, 'html.parser')
#    pic = soup.find('div', class_="downloads").find('a').find('href')
    kb=browser.find_by_css('div[class="downloads"]')
    image_url = kb["a"]
    print(image_url)
    browser.click_link_by_href('/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
# title = soup.find('div', class_='content_title')
# news_title = title.find('a').text.strip()
# news_title   

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')
title = soup.find('div', class_='content_title')
news_title = title.find('a').text.strip()
news_title
#not working for some reason. Need to check
news_p = soup.find('div', class_='list_date')
news = news_p.find('')